.container
  .row
    .col.s12.m6.offset-m3
      .card.blue-grey.darken-1
        = form_for @blog, url: '/users/'+current_user.id.to_s+'/blogs' do |f|
          .card-content
            .input-field
              = f. text_area :sentence ,class:'materialize-textarea'
          .card-action
            = f.submit "Send"
